* {
    background-color: rgb(106, 106, 106);
    font-family: 'Times New Roman';
    color: white;
}

.header {
    border-top: 8px Solid rgba(254, 193, 12, 0.968);
    border-bottom: 10px Solid rgba(254, 193, 12, 0.968);
}

.header h1 {
    text-align: center;
}

.header ul li {
    list-style-type:none;
    text-align: center;
    margin-left: -35px;
    padding-left: -35px;
}

img {
    margin:auto;
    display: block;
    width: 100px;
    height:100px;
}

.Form {
    text-align: center;
}
